    
</body>
<script>
    const user = {
    id: "player1",
    name: "coderhero",
    username: "Coder Hero",
    password: "password",
    ban: false
    }
    // Send a fetch request to the server for posting
    function sendPostRequest(form, replyTo, reQuote, ogId, repostPost) {
        event.preventDefault(); // Prevent default form submission
        if(repostPost === undefined && (form.value === undefined || form.value === "")) return;
        repostPost = repostPost !== undefined ? JSON.parse(repostPost) : undefined
        const time = new Date().toLocaleDateString();
        const repost = repostPost !== undefined ? repostPost.user : undefined;
        const data = {
            id: "txtr" + Math.random().toString(16).slice(2) + "tme:" + time,
            title: repostPost !== undefined ? repostPost.title : form.querySelector("#title").value, 
            time: time,
            user: user,
            like: {
                total: 0,
                users: []
            },
            replyTo: replyTo !== undefined ? JSON.parse(replyTo).id : "",
            img: repostPost !== undefined ? repostPost.img : form.querySelector("#img").value,
            ogId: ogId,
            repost: repost,
            reQuote: reQuote !== undefined ? JSON.parse(reQuote) : undefined,
        }
        fetch('/', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
            },
            body: JSON.stringify(data),
        });
        return repostPost === undefined ? window.location.href = `/?id=${data.id}` : window.location.href = `/?id=${data.ogId}`;
    }

    // Send a fetch request to the server for liking
    function sendLikeRequest(post) {
        post = JSON.parse(post)
        fetch(`/like/`, {
            method: 'POST',
            headers: {
            'Content-Type': 'application/json',
            },
            body: JSON.stringify({
            post: post,
            user: user
            }),
        });
        window.location.reload();
    }

</script>
</html>