<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
</body>
<script>
    const username = localStorage.getItem("username");
    const name = localStorage.getItem("name");
    const id = localStorage.getItem("id");

    if (!window.location.href.toString().includes("/login") && !window.location.href.toString().includes("/signup") ){
        if(!username) {
            window.location.href = "/login"
        }
        fetch(`/user/check?username=${username}`).then(res => res.json()).then(check => {
            if(check.check === true) {
                localStorage.removeItem("name");
                localStorage.removeItem("username");
                localStorage.removeItem("id");
    
                return window.location.href = "/login"
            } 
            return
        });
        fetch('/madeToken', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
            },
            body: JSON.stringify({
                id: id,
                username: username,
            }),
        }).then(res => res.json()).then(data => {
            sessionStorage.setItem('token', data.token); 
        });
    }

    const token = sessionStorage.getItem('token');
    // Send a fetch request to the server for posting
    function sendPostRequest(form, replyTo, reQuote, ogId, repostPost) {
        event.preventDefault(); // Prevent default form submission
        repostPost = repostPost ? JSON.parse(repostPost) : undefined
        const time = new Date().toLocaleDateString();
        const repost = repostPost ? repostPost.user : undefined;
        const formData = new FormData(); 
        // Append data to FormData
        formData.append('id', "txtr" + Math.random().toString(16).slice(2) + "tme:" + time);
        formData.append('title', repostPost ? repostPost.title : form.querySelector("#title").value);
        formData.append('time', time);
        formData.append('user', JSON.stringify({username: username, name: name, id: id})); 
        formData.append('like', JSON.stringify({ total: 0, users: [] }));
        formData.append('replyTo', replyTo ? JSON.parse(replyTo).id : "");
        formData.append('ogId', ogId);
        formData.append('repost', JSON.stringify(repost));
        formData.append('reQuote', reQuote ? JSON.stringify(JSON.parse(reQuote)) : undefined);
        formData.append('token', token); // Assuming you have 'token' available
        // Handle image upload
        if (form.querySelector("#img").files[0]) {
            formData.append('img', form.querySelector("#img").files[0]); 
        } else {
            formData.append('img', ''); // Empty string if no image selected
        }
        fetch('/', {
            method: 'POST',
            body: formData,
        }).then(() => {
            return repostPost === undefined ? window.location.href = `/?id=${data.id}` : window.location.href = `/?id=${data.ogId}`;
        }) ;
    }

    function sendLikeRequest(post, button) {
        post = JSON.parse(post)
        fetch(`/like/`, {
            method: 'POST',
            headers: {
            'Content-Type': 'application/json',
            },
            body: JSON.stringify({
            post: post,
            user: {
                id: id,
                username: username,
                name: name
            },
            token: token
            }),
        })
        .then(res => res.json()) // Parse the JSON response
        .then(data => { 
            button.innerText = "Like: " + data.likes; // Update the button text with the new like count
        })
        .catch(error => {
            console.error("Error sending like request:", error); 
            // Handle errors, e.g., display an error message to the user
        });
    }

    function followPost(target) {
        fetch(`/user/follow/${target}`, {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
            },
            body: JSON.stringify({
                token: token,
                myname: username
            }),
        })
        .then(() => {
            console.log("Berhasil Follow")
        })
    }

</script>
</html>